@using Alloy.AndAsync
@using EPiServer.Core
@using Microsoft.Ajax.Utilities
@model TestArticlePageViewModel

@{ Layout = "~/Views/Shared/Layouts/_LeftNavigation.cshtml"; }

<h1 @Html.EditAttributes(x => x.CurrentPage.PageName)> Page:
    @Model.PageName
</h1>

<h2>
    <br/>
    External Data Length: @Model.SomeExternalData.IfNotNull(x => x.Length)
    <br/>
    Site Start Page ID: @ContentReference.StartPage.ID (id from controller: @Model.SiteStartPageId)
    <br/>
</h2>

@Html.Action("Action")

<p class="introduction" @Html.EditAttributes(x => x.CurrentPage.MetaDescription)>@Model.CurrentPage.MetaDescription</p>
<div class="row">
    <div class="span8 clearfix" @Html.EditAttributes(x => x.CurrentPage.MainBody)>
        @Html.DisplayFor(m => m.CurrentPage.MainBody)
    </div>
</div>
@Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row", Tag = Global.ContentAreaTags.TwoThirdsWidth })
